@model IEnumerable<DejtingApp.Models.Profile>

@using DejtingApp.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your search results</h2>

<table class="table" align="center">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            Ålder
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ImagePath" height="100" width="100" />
            </td>
            <td>
                    @Html.ActionLink(item.Förnamn, "Profilepage", "Profile", new { @item.ProfileId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternamn)
            </td>
            <td>
                @{
                    var today = DateTime.Today;
                    var date = today.Year - item.Födelseår.Year;
                    if (item.Födelseår.Date > today.AddYears(-date)) { date--; }

                    @Html.DisplayFor(modelItem => date);
                }
            </td>
            <td>

                <input type="submit" class="btn-success" value="Send friend request" onclick="location.href='@Url.Action("AddFriend", "Home", new { profileIdd = @item.ProfileId, button = "search" })'" />




                @*<input type="button" value="Send friend request" onclick="location.href='@Url.Action("AddFriend", "Home", new { id = item.ProfileId })'" />*@

                @*<div id="target">
                        @using (Ajax.BeginForm("AddFriend", "Home", new AjaxOptions
                        {
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "target",
                            HttpMethod = "POST",

                        }))

                        {
                            <input type="submit" value="Send friend request" />
                            <input type="submit" value="Send friend request" onclick="location.href='@Url.Action("AddFriend", "Home", new { id = item.ProfileId })'" />
                            <button class="btn-success" value="@item.ProfileId" onclick="return AddFriend(@item.ProfileId)">Send friend request</button>

                            <script type="text/javascript">
                                function AddFriend() {
                                    $.ajax({ url: "AddFriend", success: function () { alert("Success"); } }); return false;
                                };
                            </script>

                            <script type="text/javascript">
                                function OnSuccess() {
                                    alert("Friend request sent")
                                };
                                function OnFailure() {
                                    alert("Error occured.");
                                };
                            </script>
                        }
                    </div>*@
            </td>
            <td>
                @*@{
                    @Html.ActionLink("Send friend request", "AddFriend", null, new { profileId = item.ProfileId })
                    <script type="text/javascript">
                        $("#profileId").click(function (e) {

                            e.preventDefault();
                            $.ajax({

                                url: $(this).attr("href"), // comma here instead of semicolon
                                success: function () {
                                    alert("Value Added");  // or any other indication if you want to show
                                }

                            });

                        });
                    </script>*@
            </td>
        </tr>
    }

</table>




@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@



