@model IEnumerable<DejtingApp.Models.Interest>

@{
    ViewBag.Title = "EditInterests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditInterests</h2>

@using (Html.BeginForm("CreateNewInterest", "Interest", FormMethod.Post))
{
<div>
    @Html.TextBoxFor(model => model.FirstOrDefault().InterestName)
    @Html.ValidationMessageFor(model => model.FirstOrDefault().InterestName)
    <button type="submit">Save new interest</button>
</div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterestName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InterestName)
            </td>
            <td>
                @Html.ActionLink("Delete Interest", "DeleteInterest", "Profile", new { id = item.InterestId }, null)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>