@using DejtingApp.Models
@using Microsoft.AspNet.Identity


@model  DejtingApp.Models.ProfilePageViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 30px">
    <div class="row">
        @foreach (var item in Model.Profiles)
        {
            <div class="col-md-3">
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="width: 200px; height: 250px" />
                <div style="font-size: 20px; font-weight: bold">
                    @Html.DisplayFor(modelItem => item.Förnamn)
                    @Html.DisplayFor(modelItem => item.Efternamn),

                    @{
                        var today = DateTime.Today;
                        var date = today.Year - item.Födelseår.Year;
                        if (item.Födelseår.Date > today.AddYears(-date)) { date--; }


                        @Html.DisplayFor(modelItem => date);
                    }
                </div>
            </div>

        }
        <div class="col-md-5" style="border-color: black; max-height: 320px;">
            @*List of messages*@

            @foreach (var item in Model.Messages)
            {
                <div class="list-group" id="results" style="max-height: 300px; overflow-y: auto">
                </div>
            }
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="font-size: 20px; font-weight: bold">
        </div>
        <div class="col-md-5">
            <textarea class="form-control form-group-lg" placeholder="Make your move" id="Text"></textarea>
            @*Message input field*@
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @foreach (var item in Model.Profiles)
            {
                <h4 class="list-group-item-heading">About me</h4>
                <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Description)</p>
            }
        </div>
        <div class="col-md-5">
            @*En submit knapp för att skriva på wallen *@
            <br />
            <input type="button" value="Send message!" class="btn-large btn-primary" id="sendMessage" /> @* AJAX call ska peka på '#sendMessage'*@
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @*Whitespace*@
        </div>
        <div class="col-md-5">
            @*SHow friend list?*@
            @foreach (var dud in Model.Profiles)
            {
                <input type="submit" class="btn-success" value="View friend list" onclick="location.href='@Url.Action("ViewFriendList", "Profile", new { @dud.ProfileId })'" />
                <input type="submit" class="btn-success" value="Edit profile" onclick="location.href='@Url.Action("Edit", "Profile", new { id = dud.ProfileId }, null)'" />
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
@foreach (var item in Model.Profiles)
{     
    @section scripts {
        <script type="text/javascript">

   $(document).ready(function() {
            getNew();
        });
        function getNew() {
            $.ajax("/api/Message/lista").then(function (data) {
                console.log(data)
                for(var i=0;i<data.length;i++)
                {
                    if (data[i].Reciever == @item.ProfileId) {
                        var result = "<p>" + data[i].MessageText + "</p>";
                        var namn = "<h4>" + data[i].Förnamn + " " + data[i].Efternamn + "</h4>";
                        var datum = "<p>" + data[i].Datum + "</p>";
                        var button = '<button id="deleteRecord" data-model-id="' + data[i].MessageID + '">delete</button>';
                        $("#results").append(namn + result + datum + button);
                    }
                }
            });
            }

            $(document).on('click', '#deleteRecord', function (e) {
                                e.preventDefault();
                var dialog = $('<p>Are you sure?</p>').dialog({
                    buttons: {
                        "Yes": function() { var MessageId = $(this).data("model-id");
                console.log(MessageId);
                var url = "/Profile/DeleteMessage/" + MessageId;
                console.log(url);
                $.ajax({
                    url: url,
                    datatype: 'json',
                    contentType: "application/json",
                    type: 'POST',
                    data: JSON.stringify(MessageId),
                }).done(function () {
                    alert("Deleted")
                    getNew();
                });},
                        "No":  function() {dialog.dialog('close');}
                    }
                });
        });

            $("#sendMessage").click(function () {
                $("#results").html("")
                var request = new MessageModel()
                $.ajax({
                    url: "/api/Message/PostMessage",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                        $("#Text").val("");
                        getNew();
                    }

                })
            });
            function MessageModel() {
                var self = this;
                self.MessageText = $("#Text").val();
                self.RecieverId = @item.ProfileId;
                }


        </script>
    }
}