@using DejtingApp.Models

@model  DejtingApp.Models.ProfilePageViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Profil</h2>

</table>

<div class="container">
    @foreach (var item in Model.Profiles)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.ImagePath)
                <img src="" />
            </div>
            <div class="col-md-8">
                @*List of messages*@
                <div class="list-group">
                    <h4 class="list-group-item-heading"></h4> @*Jamie Jones skrev: *@
                    <p class="list-group-item-text"></p> @* Message from Jamie Jones goes here..*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Förnamn)
                @Html.DisplayFor(modelItem => item.Efternamn)
                @Html.DisplayFor(modelItem => item.Födelseår)
            </div>
            <div class="col-md-8">
                @*Message input field*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*Whitespace*@
            </div>
            <div class="col-md-8">
                @*En submit knapp för att skriva på wallen *@
                <button>
                    Submit comment
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Description</h4>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-md-8">
            </div>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProfileId })
}
</div>
