@using DejtingApp.Models

@model  DejtingApp.Models.ProfilePageViewModels

@{
    ViewBag.Title = "Profilepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

<div class="container" style="margin-top: 30px">
    <div class="row">
        @foreach (var item in Model.Profiles)
        {
            <div class="col-md-4">
                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="width: 200px; height: 250px" />
                <div style="font-size: 20px; font-weight: bold">
                    @Html.DisplayFor(modelItem => item.Förnamn)
                    @Html.DisplayFor(modelItem => item.Efternamn),

                    @{
                        var today = DateTime.Today;
                        var date = today.Year - item.Födelseår.Year;
                        if (item.Födelseår.Date > today.AddYears(-date)) { date--; }


                        @Html.DisplayFor(modelItem => date);
                    }
                </div>
            </div>

        }
        <div class="col-md-8" style="border-color: black; max-height: 320px;">
            @*List of messages*@

            @foreach (var item in Model.Messages)
            {
                <div class="list-group" id="results" style="max-height: 300px; overflow-y: auto">
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-size: 20px; font-weight: bold">
        </div>
        <div class="col-md-8">
            <textarea class="form-control form-group-lg" placeholder="Make your move" id="Text"></textarea>
            @*Message input field*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @foreach (var item in Model.Profiles)
            {
                <h4 class="list-group-item-heading">About me</h4>
                <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <input type="submit" class="btn-success" value="Send friend request" onclick="location.href='@Url.Action("AddFriend", "Home", new { profileIdd = @item.ProfileId, button = "profil" })'" />
            }
        </div>
        <div class="col-md-8">
            @*En submit knapp för att skriva på wallen *@
            <br />
            <input type="button" value="Send message!" class="btn-large btn-primary" id="sendMessage" />
            @*<input type="button" value="Do we match?" class="btn-large btn-primary" id="doWeMatch" />*@
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="doWeMatch">
                Do we match?
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Intressen :</h4>
            @foreach (var item in Model.Interests)
            {
                <p>@item.InterestName</p>
            }
        </div>
        <div class="col-md-8">
            @*Här visas knappar på den egna profilen.*@
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Is it a match?</h4>
            </div>
            <div class="modal-body" id="modalbody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Profiles)
{
    @section scripts {
        <script type="text/javascript">
   $(document).ready(function() {
            getNew();
   });

        function getNew() {
            $.ajax("/api/Message/lista").then(function (data) {
                $("#Text").val("");
                for(var i=0;i<data.length;i++)
                {
                    if (data[i].Reciever == @item.ProfileId) {
                        var result = "<p>" + data[i].MessageText + "</p>";
                        var namn = "<h4>" + data[i].Förnamn + " " + data[i].Efternamn + "</h4>";
                        var datum = "<p>" + data[i].Datum + "</p>";
                        $("#results").append(namn + result + datum);
                    }
                }
            });
          }

        $("#doWeMatch").click(function () {
            $.ajax({
                url: 'https://localhost:44375/Interest/DoWeMatch',
                type: 'GET',
                data: {
                    id: @item.ProfileId,
                },
                success: function (result) {
                     $("#modalbody").html("");
                    $('#myModal').modal('show')
                    if (result != "") {
                        var match = "<h4>It's a match!</h4>";
                        var match2 = "<p>Youre both interested in :</p>";
                        var match3 = "<h4>"+ result +"</h4>";
                         $("#modalbody").append(match + match2 + match3);
                    }
                    else {
                        var match = "<h4>Youre not a match...</h4>";
                        var match2 = "<p>You've got no interests in common</p>";
                         $("#modalbody").append(match + match2);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            return false;

            console.log(url)
        });

            $("#sendMessage").click(function () {
                $("#results").html("");
                var request = new MessageModel()
                $.ajax({
                    url: "/api/Message/PostMessage",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                        getNew();
                    }
                });
            });
            function MessageModel() {
                var id = ""; //Nice!
                var self = this;
                self.MessageText = $("#Text").val();
                self.RecieverId = @item.ProfileId;
            }

            $(document).ready(function() {
                var request = new ClickedModel()
                $.ajax({
                    url: "/api/ProfileView/TickProfileCount",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                    }

                })
            });


            function ClickedModel() {
                var self = this;
                self.RecieveClickId = @item.ProfileId;
            }


        </script>
    }
}