@using DejtingApp.Models

@model  DejtingApp.Models.ProfilePageViewModels

@{
    ViewBag.Title = "Profilepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                @if (Model.Image != null)
                {
                    <img src="@Url.Content(Model.Image.ImgPath)" style="width: 200px; height: 200px" />
                }
                else
                {
                    <img src="~/Content/Images/default.png" style="width: 200px; height: 200px" />
                }
            </div>
            <div class="card" style="margin-top: 10px">


                <div class="card-body" style="padding-bottom: 10px">

                    @foreach (var item in Model.Profiles)
                    {
                        <div class="card-header">
                            <h5 style="font-size: 20px; font-weight: bold">
                                @Html.DisplayFor(modelItem => item.Förnamn)
                                @Html.DisplayFor(modelItem => item.Efternamn),

                                @{
                                    var today = DateTime.Today;
                                    var date = today.Year - item.Födelseår.Year;
                                    if (item.Födelseår.Date > today.AddYears(-date)) { date--; }


                                    @Html.DisplayFor(modelItem => date);
                                }
                            </h5>

                        </div>
                    }

                    @foreach (var item in Model.Profiles)
                    {
                        <h4 class="card-title" style="padding-left: 10px">About me</h4>
                        <p class="card-text" style="padding-left: 10px">@Html.DisplayFor(modelItem => item.Description)</p>
                    }

                </div>

            </div>

            <div class="card" style="margin-top: 10px">
                <div class="card-body">
                    <div class="card-header"><h4>Intressen :</h4></div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model.Interests)
                        {
                            <p class="list-group-item">@item.InterestName</p>
                        }
                    </ul>
                </div>

            </div>

            <div class="card text-center" style="margin-top: 10px; padding: 5px">
                <div class="card-body" style="margin-bottom: 5px">
                    @foreach (var item in Model.Profiles)
                    {
                        <input type="submit" class="btn-success" value="Send friend request" onclick="location.href='@Url.Action("AddFriend", "Home", new { profileIdd = @item.ProfileId, button = "profil" })'" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5" style="border-color: black; max-height: 320px;">
            <div class="card" id="results" style="max-height: 500px; min-height: 500px; overflow-y: auto">

            </div>
            <textarea class="form-control form-group-lg" placeholder="Make your move" id="Text"></textarea>
            @*Message input field*@
            <br />
            <input type="button" value="Send message!" class="btn-large btn-primary" id="sendMessage" /> @* AJAX call ska peka på '#sendMessage'*@
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="doWeMatch" style="margin-top: 20px">
                Do we match?
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
            @*Här visas knappar på den egna profilen.*@
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Is it a match?</h4>
            </div>
            <div class="modal-body" id="modalbody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Profiles)
{
    @section scripts {
        <script type="text/javascript">
   $(document).ready(function() {
            getNew();
   });

        function getNew() {
            $.ajax("/api/Message/lista").then(function (data) {
                $("#Text").val("");
                for(var i=0;i<data.length;i++)
                {
                    if (data[i].Reciever == @item.ProfileId) {
                        var cardbody = '<div class="card">';
                        var closediv = '</div>';
                        var divbody1 = '<div class="card-body" style="padding: 10px">';
                        var result = '<p>' + data[i].MessageText + " </p>";
                        var namn = '<h5 style="font-weight: bold">' + data[i].Förnamn + " " + data[i].Efternamn + " wrote: </h5>";
                        $("#results").append(cardbody + divbody1 + namn  + result + closediv + closediv);
                    }
                }
            });
            }

        $("#doWeMatch").click(function () {
            $.ajax({
                url: 'https://localhost:44375/Interest/DoWeMatch',
                type: 'GET',
                data: {
                    id: @item.ProfileId,
                },
                success: function (result) {
                     $("#modalbody").html("");
                    $('#myModal').modal('show')
                    if (result != "") {
                        var match = "<h4>It's a match!</h4>";
                        var match2 = "<p>Youre both interested in :</p>";
                        var match3 = "<h4>"+ result +"</h4>";
                         $("#modalbody").append(match + match2 + match3);
                    }
                    else {
                        var match = "<h4>Youre not a match...</h4>";
                        var match2 = "<p>You've got no interests in common</p>";
                         $("#modalbody").append(match + match2);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            return false;

            console.log(url)
        });

            $("#sendMessage").click(function () {
                $("#results").html("");
                var request = new MessageModel()
                $.ajax({
                    url: "/api/Message/PostMessage",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                        getNew();
                    }
                });
            });
            function MessageModel() {
                var id = ""; //Nice!
                var self = this;
                self.MessageText = $("#Text").val();
                self.RecieverId = @item.ProfileId;
            }

            $(document).ready(function() {
                var request = new ClickedModel()
                $.ajax({
                    url: "/api/ProfileView/TickProfileCount",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                    }

                })
            });


            function ClickedModel() {
                var self = this;
                self.RecieveClickId = @item.ProfileId;
            }


        </script>
    }
}