@model IEnumerable<DejtingApp.Models.FriendListViewModel>
@using DejtingApp.Models

@{
    ViewBag.Title = "ViewFriendList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your friend list</h2>


<table class="table" style="margin-top: 40px">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            Status
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="width: 100px; height: 100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Förnamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efternamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @foreach()

            @*@Html.DropDownListFor(modelItem => item.CategoryId,
           new SelectList(item.CategoryName))*@

            <select class="form-control" id="categoryId">
                <option>Change status</option>
                <option>Dejting</option>
                <option>Just friends</option>
            </select>


           


            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
        <td>
            <input type="button" value="Remove friend" class="btn-danger" /> @*Funktionaliteten måste skapas.*@
        </td>
    </tr>
}

</table>
