@model IEnumerable<DejtingApp.Models.FriendListViewModel>
@using DejtingApp.Models

@{
    ViewBag.Title = "ViewFriendList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your friend list</h2>


<table class="table" style="margin-top: 40px">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            Status
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @if (item.ImagePath != null)
        {
            <img src="@Url.Content(item.ImagePath)" style="width: 100px; height: 120px" />
        }
        else
        {
            <img src="~/Content/Images/default.png" style="width: 100px; height: 120px" />
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Förnamn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Efternamn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @using (Html.BeginForm("EditStatus", "Profile", new { id = @item.ProfileId }))
        {
            @Html.DropDownList("Category", "Select Status")

            <input type="submit" value="Submit" class="btn-success" name="Submit"/>
        }
    </td>
    <td>
        <input type="button" class="btn-warning" value="Remove friend" onclick="location.href='@Url.Action("RemoveFriend", "Account", new { profileId = @item.ProfileId })'" />
    </td>
</tr>
}

</table>
